body {
    background-color: aqua;
}

h1 {
    color: orange;
    background-color: red;
}

#show_sketch {
    float: right;
}

#label {
    color: green;
    font-size: 25px;
}

#confidence {
    font-size: 25px;
    color: darkblue;
}

#timer {
    float: right;
    font-size: 30px;
    margin-right: 100px;
    font-weight: bold;
}

#score {
    float: left;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
}

#Sketch_name {
    font-size: 25px;
}